<div class="layout-wrapper">

    <app-topbar></app-topbar>

    <div class="layout-menu-container">
        <div class="layout-menu-logo">
            <a href="#">
                <img id="layout-menu-logo" src="assets/layout/images/logo-white.png" library="babylon-layout" />
            </a>
        </div>
        <div class="layout-menu-wrapper">
            <div class="menu-scroll-content">
             
                <app-menu></app-menu>
            </div>
        </div>
    </div>

    <div class="layout-main">
        <app-breadcrumb></app-breadcrumb>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>
    <div class="layout-mask"></div>

</div>
